version: "3.8"

services:
  vite:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - .:/user/src/app
      - /user/src/app/node_modules
    networks:
      - app-network
    command: npm run dev

networks:
  app-network:
    driver: bridge
