button {
  padding: 10px;
  border-radius: var(--border-radius);
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}

.btn-primary {
  color: var(--bg);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  color: var(--primary-color);
  background-color: transparent;
  scale: 1 1.1;
  border: 1px solid var(--primary-color);
  transition: all 270ms ease-in-out;
}

.btn-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.btn-secondary:hover {
  color: var(--bg);
  background-color: var(--primary-color);
  scale: 1 1.1;
  transition: all 270ms ease-in-out;
}
