.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2.2rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  width: 35%;
  margin: auto;
  height: 65%;
  flex-direction: column;
}
