.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2.2rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  width: 40%;
  margin: auto;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
    height: 100%;
  }
}
