.footer {
  color: var(--bg);
  text-decoration: none;
  text-wrap: nowrap;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer a {
  padding-left: 12px;
  text-decoration: none;
  color: white;
}
