.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .buttons-container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  gap: 12px;
}

.form .controls {
  display: flex;
  gap: 22px;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.range-container {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: 200;
  align-items: center;
}

.range-container label {
  width: 35%;
}

.range-container input[type="range"] {
  -webkit-appearance: none;
  width: inherit;
}

.range-container input[type="range"]:focus {
  outline: none;
}

.range-container input[type="range"]::-ms-track {
  height: 3px;
}

.range-value {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. */
}

/* WebKit (Chrome, Safari, Edge, Opera) */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  margin-top: -6px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

/* IE/Edge (legacy) */
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  margin-top: 0;
}
