.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .buttons-container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  gap: 12px;
}

.form .controls {
  display: flex;
  gap: 22px;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.range-container {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: 200;
  align-items: center;
}

.range-container label {
  width: 35%;
}

.range-container input[type="range"] {
  -webkit-appearance: none;
  width: inherit;
}

.range-container input[type="range"]:focus {
  outline: none;
}

.range-container input[type="range"]::-ms-track {
  height: 3px;
}

.range-value {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow:
    1px 1px 1px #000000,
    0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 4px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 4px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 4px;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
