.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  border-top: 1px solid rgb(215, 215, 219);
}

.form .buttons-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.range-container {
  display: flex;
  gap: 6px;
  width: 100%;
}

.range-container input[type="range"] {
  width: inherit;
}

.range-value {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}
