.align-text {
  vertical-align: center;
  align-content: center;
  align-items: center;
}

.tab-text {
  font-size: 0.75rem;
}

.title {
  margin: 18px 0;
}

.app-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  overflow-y: hidden;
}

.title-container {
  max-width: 45%;
}

.app-container .app-title {
  color: var(--bg);
  font-size: 64px;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.app-container .app-subtitle {
  color: var(--bg);
  font-size: 18px;
  margin-left: 5rem;
}

@media screen and (max-width: 1000px) {
  .title-container {
    display: none;
  }
}
