.password-container {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 22px 5px;
  justify-content: center;
  margin: 5px 0;
  flex-wrap: wrap;
}

.password {
  text-align: center;
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
}

.special {
  color: #ff5d3d;
}

.number {
  color: #3a65bc;
}

.letter {
  color: #000;
}

.spin {
  animation: spin 0.5s linear infinite;
}

.spinner {
  align-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
