.average-range {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 8px;
  height: 28px;
}

.range-wrapper {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: #ccc;
  height: 6px;
}

.very-weak {
  width: 5%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
}

.weak {
  background-color: #d71340;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
  width: 30%;
}

.medium {
  background-color: #b65e11;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
  width: 50%;
}

.strong {
  background-color: #316a3b;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
}
