.average-range {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 8px;
  height: 28px;
}

.range-wrapper {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: #ccc;
  height: 6px;
}

.weak {
  background-color: #d71340;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
  width: 30%;
}

.medium {
  background-color: #b65e11;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
  width: 50%;
}

.strong {
  background-color: #316a3b;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: all 200ms ease-in-out;
  height: 6px;
}

.pwd-label-container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.pwd-strength {
  font-weight: 500;
}

.pwd-label-weak {
  color: #d71340;
}

.pwd-label-medium {
  color: #b65e11;
}

.pwd-label-strong {
  color: #316a3b;
}
