.tabs-container {
  width: 100%;
  margin-top: 2rem;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
}

.tabs-header {
  position: relative;
  display: flex;
  background-color: #f5f5f7;
  border-radius: var(--border-radius);
  padding: 8px;
  background-color: #f4f4f5;
  margin-bottom: 2rem;
  max-heigth: 30px;
}

.tabs-background {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5f5f7;
}

.tabs-indicator {
  position: absolute;
  height: 76%;
  background: #fff;
  border-radius: var(--border-radius);
  z-index: 1;
}

.tabs-list {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}

.tab-button {
  flex: 1;
  padding: 16px 24px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 2;
  color: #3c3d44;
}

.tab-button.active {
  color: #3c3d44;
}

.tabs-content {
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  min-height: 200px;
}

.tab-panel {
  animation: fadeIn 0.4s ease;
}

.tab-panel.active {
  display: block !important;
}

.tab-panel.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
