:root {
  --primary-color: #3583dc;
  --bg: #fff;
  --secondary-color: #ccc;
  --border-radius: 4px;
  --outer-bg-color: #1a285f;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: var(--outer-bg-color);
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  body: {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
